/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Tailwind CSS */
@import "tailwindcss";

/* DaisyUI */
@plugin "daisyui";

/* Custom Styles */
body {
  font-family: "Inter", sans-serif;
}

.banner-card {
  width: 100%;
  min-height: 240px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
}
.progress-card {
  background: url(./assets/vector1.png), url(./assets/vector2.png),
    linear-gradient(125.07deg, rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, right, center;
  background-size: contain, contain, cover;
}

.resolved-card {
  background: url(./assets/vector1.png), url(./assets/vector2.png),
    linear-gradient(
      90deg,
      rgba(84, 207, 103.68001556396484, 1),
      rgba(0, 130, 122.20001220703125, 1) 100%
    );
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, right, center;
  background-size: contain, contain, cover;
}
